### Maven ###
target/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Archivos temporales ###
*.log
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

### Ignorar carpetas específicas de datos ###
/data/dbLogistica/data/
/data/dbPedido/data/
